.feed{
    margin-top: 24px;
    margin-bottom: 60px;
}
@media (max-width:614px) {
    .feed{
        margin-top: 0px;
    }
}
.postCard{
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    width: 100%;
    height: 749px;
}/**/
.postCardHeader{
    height: 60px;
    margin: 0px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postOwnerName{
    display: flex;
    align-items: center;
}
.postOwnerName img{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 15px;
    cursor: pointer;
}
.postOwnerName h4{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    cursor: pointer;
}
.postCardHeader ion-icon{
    height: 16px;
    width: 16px;
    cursor: pointer;
}/*post*/
.postContent{
   width: 612px; 
   height: 612px;
}
@media (max-width:614px) {
    .postContent{
        width: 100%;
     }
}
.postContent video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}/**/
.postCardFooter{
    width: 100%;
    height: 71px;
    padding: 13px 17px 15px 17px;
    box-sizing: border-box;
}
.postCardButtons{
    display: flex;
    justify-content: space-between;
}
.postCardButtons div:nth-child(1) ion-icon{
    margin-right: 16px;
}
.postCardButtons ion-icon{
    font-size: 18px;
    cursor: pointer;
}/**/
.postCardLikes{
    margin-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
}
.postCardLikes img{
    width: 20px;
    height: 20px;
}
.postCardLikes p{
    margin-left: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px
}
.postCardLikes h4{
    margin-left: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;    
    cursor: pointer;
}/**/