/* Feed */
#userPostImg1{
    background-image: url(https://mir-s3-cdn-cf.behance.net/user/115/5745313.547c4922bbfc3.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
#imgFeed1{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/bf2b5751890757.58fde1c257711.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
#userPostImg2{
    background-image: url(https://mir-s3-cdn-cf.behance.net/user/115/6c9e0c4221799.5c293f9a0dc01.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
#imgFeed2{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/028/075/249/large/yury-ostapchuk-train-scene-07-scale-shot-warm.jpg?1593427044);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
#userPostImg3{
    background-image: url(https://mir-s3-cdn-cf.behance.net/user/115/2d894426022365.619283f11a919.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
#imgFeed3{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/028/075/249/large/yury-ostapchuk-train-scene-07-scale-shot-warm.jpg?1593427044);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}