.stories{
    display: block;
    width: 614px;
    height: 118px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    overflow-block:auto;
    overflow-x: hidden;
}
@media (max-width:614px) {
    .stories{
        background-color: #fafafa;
    }
}
.stories #storiesSize{
    height: 100%;
    width: calc(100% - 18px);
    display: flex;
    align-items: center;
    margin-left: 18px;
    gap: 14px;
}/**/
#storiesSize div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#storiesSize div img:nth-child(1){
    width: 66px;
    height: 66px;
    border-radius: 30px;
}
#storiesSize div img:nth-child(2){
    position: absolute;
    top: 4.8px;
    width: 56px;
    height: 56px;
    border-radius: 26px;
}
#storiesSize div p{
    margin-top: 1px;
    height: 19px;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}